<h1>Coupons</h1>
<ul>
<% @coupons.all.each do |coupon| %>
<li><%= "Store: #{coupon.store} - Code:" %><%= link_to coupon.coupon_code, coupon_path(coupon) %></li>
<% end %>
<br>
<%= link_to "Create Coupon", new_coupon_path %>
</ul>